<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/posts.css">
    <title><%= title %></title>
</head>
<body>
    <a href="/logout" class="logout">Logout</a>
    <div class="login-page">
        <div class="form">
            <a href="/addPosts">Create a New Post</a>
            <hr>    
            <% if(Status == 3){%>
                <% for(var i=0;i <length; i++){%>
                    <h1><%= posts[i].dataValues.title%></h1>
                    <p><%= posts[i].dataValues.description%></p>
                     <p>User name is <%= posts[i].dataValues.user.username%></p>
                    <% if(showOptions == posts[i].dataValues.user.id){%>
                        <a href="/editPost/<%= posts[i].dataValues.id%>">Edit</a>
                        <a href="/deletePost/<%= posts[i].dataValues.id%>">Delete</a>
                    <%}%>
                    <a href="/comments/<%= posts[i].dataValues.id%>">Show Comments</a>
                    
                    <hr>
                <%}%>
                <!-- <p><%= length%> </p>  -->
            <%}%>
    <!-- <% if(Status == 1) {%> 
        <label><a href="/posts" title="Create A Post">Create A Post</a></label><br>
    <%}else if(Status == 0){%>
            <form action="/posts" method="POST">
                <label for="description">Description</label><br>
                <textarea name="description" placeholder="Jot something...." required ></textarea><br>
                <button>Post here!</button>
            </form> 
    <%}else if(Status == 2){%>
        <p><%= Reason%> </p>
    <%}else if(Status == 3){%>
        <% for(var i=0;i <length; i++){%>
            <p><%= posts[i].dataValues.description%></p>
        <%}%>
        <p><%= length%> </p>
    <%}%> -->
        </div>
    </div> 
</body>
</html>